services:
  - type: web
    name: mpsucoop-backend
    env: python
    plan: free
    region: oregon
    buildCommand: |
      python --version;
      python -m pip install --upgrade pip;
      pip install -r misty/MPSUUU-COOP/mpsucoop/mcoop_db/mcoop_db/requirements.txt;
      python misty/MPSUUU-COOP/mpsucoop/mcoop_db/manage.py collectstatic --noinput
    startCommand: |
      gunicorn mcoop_db.wsgi:application --chdir misty/MPSUUU-COOP/mpsucoop/mcoop_db --bind 0.0.0.0:$PORT
    autoDeploy: true
    healthCheckPath: /health
    postDeployCommand: |
      python misty/MPSUUU-COOP/mpsucoop/mcoop_db/manage.py migrate
      python misty/MPSUUU-COOP/mpsucoop/mcoop_db/manage.py createsuperuser --noinput
      python misty/MPSUUU-COOP/mpsucoop/mcoop_db/manage.py shell -c "from django.contrib.auth import get_user_model; U=get_user_model(); u,created=U.objects.get_or_create(username='admin', defaults={'email':'admin@example.com'}); u.set_password('ChangeMeStrongPassword123!'); u.is_superuser=True; u.is_staff=True; u.save()"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: mpsucoop-backend.onrender.com,localhost,127.0.0.1
      - key: DATABASE_URL
        fromDatabase:
          name: mpsucoop-db
          property: connectionString
      - key: DJANGO_SUPERUSER_USERNAME
        value: admin
      - key: DJANGO_SUPERUSER_EMAIL
        value: admin@example.com
      - key: DJANGO_SUPERUSER_PASSWORD
        value: ChangeMeStrongPassword123!

databases:
  - name: mpsucoop-db
    plan: free
